<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698666145515-obq33kv6c2qk8f6uu1aqvvc74cqo93qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698666145515-obq33kv6c2qk8f6uu1aqvvc74cqo93qh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>698666145515-0hbsai0o5bhkd73eih8vhl696n55t85i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA09EUvmt3MCXveG4-Xu272V8VynXwvF7s</string>
	<key>GCM_SENDER_ID</key>
	<string>698666145515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Demo.InstaShareApp</string>
	<key>PROJECT_ID</key>
	<string>ardent-gate-169118</string>
	<key>STORAGE_BUCKET</key>
	<string>ardent-gate-169118.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698666145515:ios:9cd79227449e9bd978d0ae</string>
	<key>DATABASE_URL</key>
	<string>https://ardent-gate-169118.firebaseio.com</string>
</dict>
</plist>